@{
    ViewBag.Title = "About";
}
    <h3>@ViewBag.Title</h3>


    <h3>Problem</h3>

        <li>Beginners find gym intimidating</li>
        <li>Hard to figure out what to do at first</li>
        <li>Don’t have to go to a specific gym to follow a trainer</li>
        <li>Trainers don’t have to come to you</li>

        <h3>Solution <i>Spotr</i></h3>
        <img src="~/Images/icon_barbells.png" align="right" alt="companyLogo" />

        <li>Way of digitally tracking progress</li>
        <li>Follow your fave trainers, curious how to get them abz</li>
        <li>Pre-made workout routines</li>
        <li>People want to follow favourite athletes</li>
