@{
    ViewBag.Title = "About Spotr.";
}
    <h1>@ViewBag.Title</h1>

<div class="row-fluid">
    <div class="col-md-4">
        <h2>Post Workouts!</h2>
        <p>
            Create personalized workouts where you can track your sets and repetitions. See your progress too.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Follow others!</h2>
        <p>Wouldn't you like to know what Justin Bieber does? Now you can find out.</p>

    </div>
    <div class="col-md-4">
        <h2>Feel Better!</h2>
        <p>
            There are many awesome benefits to exercise such as boosting you mood, feeling and looking good,
            and enjoying the social aspect, too.
            See more benefits <a href="http://greatist.com/fitness/13-awesome-mental-health-benefits-exercise">here</a>!
        </p>
    </div>
    </div>


<div class="row-fluid">
    <div class="col-md-4">
        <h3>Problem</h3>
        <ul>
            <li>Beginners find gym intimidating</li>
            <li>Hard to figure out what to do at first</li>
            <li>Get motivatated by seeing what your friends are doing!</li>
        </ul>
    </div>
    <div class="col-md-4">
      <img src="~/Images/icon_barbells.png" align="middle" alt="companyLogo" />
        
    </div>
    <div class="col-md-4">

        <h3>Solution <i>Spotr</i></h3>
        <ul>
            <!--<strike>Way of digitally tracking progress</strike>-->
            <li>Curious how to get them abz? Follow others!</li>
            <li>Pre-made workout routines</li>
            <li>People want to follow favourite athletes</li>
        </ul>

    </div>
</div>





  