@{
    ViewBag.Title = "About";
}
    <h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-md-4">
        <h2>Post Workouts!</h2>
        <p>
            Create personalized workouts where you can track your sets and repetitions. See your progress too.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Follow others!</h2>
        <p>Wouldn't you like to know what Justin Bieber does? Now you can find out.</p>

    </div>
    <div class="col-md-4">
        <h2>Feel Better About Yourself!</h2>
        <p>
            There are many awesome benefits to exercise such as boosting you mood, feeling and looking good,
            and enjoying the social aspect, too.
            See more benefits <a href="http://greatist.com/fitness/13-awesome-mental-health-benefits-exercise">here</a>!
        </p>
    </div>
    </div>

    <h3>Problem</h3>

    <li>Beginners find gym intimidating</li>
    <li>Hard to figure out what to do at first</li>
    <li>Don’t have to go to a specific gym to follow a trainer</li>
    <li>Trainers don’t have to come to you</li>

    <h3>Solution <i>Spotr</i></h3>
    <img src="~/Images/icon_barbells.png" align="right" alt="companyLogo" />

    <li>Way of digitally tracking progress</li>
    <li>Follow your fave trainers, curious how to get them abz</li>
    <li>Pre-made workout routines</li>
    <li>People want to follow favourite athletes</li>
