@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Spotr Way<br />
    Oakville, ON L6H 2L1<br />
    <abbr title="Phone">P:</abbr>
    555.555.0100
</address>

<address>
    <strong>Sheridian Collegiete:</strong>   <a href="mailto:Support@example.com">spotr@spotr.com</a><br />

</address>