body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Helvetica, sans-serif;
    background-color: #DEDED3;
}

.form-control{
    border-color:crimson;  
    border-radius: 0 !important;
    background-color:#ffecd4;
}

h6{
    color:#101010;
    font-family:'Microsoft YaHei UI';
    font-size:large;
}

dt{
    color:#960000;
}

h4{
    color:crimson;    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input.btn-group-justified{
    box-shadow:none;
    text-shadow:none;
    border-radius:10px;
    font-family:'Lao UI';
    color:#FFFFFF;
    background-color:#890000;
}

input.btn-group-justified pill-content{
    background-color:#fcc7d1;
    color:aqua;
    background-color:blueviolet;
}


label control-label col-md-2{
    color:red;
}


* {
  
}

i{
    color:#4a0000;
}




a:link  {
   color:#620000;
   background-color:rgba(222, 222, 211, 0.69);
 
}
a:visited{
    color:#801111;
}

.nav .navbar-nav{
    color:blanchedalmond;
}
h1{ 
    font-family:Exo;
    color:#383737;
}

h2 {
    font-family: 'Lao UI'
}

img {
    padding-top:10px;
}

.nav{
    width:100%;
  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.nav.navbar-nav li a {
    font-size:14px;
 
   font-family:Arial, Helvetica, sans-serif;
 }


.jumbotron {
    position: relative;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }